:root{

  /*Color scheme for Website*/   
  --clr-NormalRed: #BE1E2D;
  --clr-NormalWhite: #ffffff;
  --clr-NormalBlack: #000000;
  --clr-DarkRed: #a00000;
  --clr-DarkGrey: #4d4d4d;

  --Font-Light: font-weight: 200;
  --Font-Normal: font-weight: 400;
  --Font-Heavy: font-weight: 600;
}
/***************************************/
/*#region Navbar*/
* {
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: #f5f5f5;
  font-family:  "Open Sans", sans-serif;
}
.Navbar_wrapper{
 display: flex;
}
.Navbar{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 7vh;
  background-color: var(--clr-DarkGrey);
}
.navbar_toggle img{
  padding-left: 85%;
  width: 100px;
  height: 100px;
}
.Navbar_link{
  margin: 2vw;
}
.Navbar_links{
  text-decoration: none;


  font-size: 2.70vh;
  align-items: center;
  transition: all 0.3s ease;
}
.Navbar_link{
  color:#ffffff;
  text-decoration: none;
}
.Navbar_link:hover{
  color: var(--clr-DarkRed);
  transition: all 0.3s ease-in-out;
}
/*#endregion Navbar*/
/***************************************/
/*#region Main*/
#latest_Album{
  background-color: #000000;
  color: #a00000 ;
}
.latest_Album_Container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.latest_Album_Text {
 font-size: 30vw;
}
.latest_Album_img {
  width: 400px;
  height: 400px;
  padding-left: 400px;
}
.latest_Album_img img {
  width: 400px;
  height: 400px;
  align-items: end;
}
.merch_Shop_Items{
  display: grid; 
  grid-template-rows: 2;
}
#Item_1{
  grid-row: 1;
}
#Item_2{
  grid-row: 1;
}
#Item_3{
  grid-row: 1;
}
#Item_4{
  grid-row: 2;
}
#Item_5{
  grid-row: 2;
}
#Item_6{
  grid-row: 2;
}
.merch_Shop_Header{
  font-size: 3vh;
  padding-left: 30vw;
}
.tour_Dates_Item {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 50px;
}
.tour_Dates_Items {

}
.indexbutton{
  background-color: var(--clr-NormalWhite);
  border: none;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}
.indexbutton a {
  color:black;
  text-decoration: none;
}
.button{
  background-color: var(--clr-NormalBlack); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}
.button a {
  color:white;
  text-decoration: none;
}
.merch_Shop_Items{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.merch_Shop_Item{
  background-color: var(--clr-NormalRed);/*Color not final, change to what looks best*/
    width: 550px;
    border-radius: 7px;
    transition: 0.5s;
    margin-top: 1.5rem ;
    margin-left: 2rem;
    align-items: center;
    justify-content: center;
    display: grid;
   grid-template-rows: 1fr 1fr ;
}
.merch_Shop_img img{
 width: 400px;
 height: 40p0x;
}
.merch_Shop_text{

}
/*#endregion Main*/
/***************************************/
/*#region footer*/
.footer_Wrapper{
  width:100%;
  height: 15%;
}
footer {
  display: block;
  text-align: center;
  padding: 3px;
  background-color: var(--clr-DarkGrey);
  color: white;
}
.footer_Container{
  background-color: var(--clr-NormalBlack);
}
/* Font Awsome logos */
.footer_social_media_logos{
  margin-left: 70vw;
}
.fa-brands{
  color: var(--clr-NormalWhite);
  font-size: 3.5vw;
  position: relative;
  margin:  2vh 2vw 2vh 2vw;
  cursor: pointer;
  transition:all 0.3s ease-in-out;
  
}
.fa-brands:hover{
  transition: all 0.5s ease-in-out;
  transform: scale(1.75);
  color: var(--clr-DarkRed);
}
/* JS footer */
#footer{
  color: var(--clr-NormalWhite);
}
/* Link section */
.social_Media_Link{
  text-decoration: none;
  color: var(--clr-NormalWhite);
  cursor: pointer;
}
.footer_Link{
  display: grid;
  grid-template-columns: 1fr 1fr  ;
  margin: 4vh 0 0 4vw;
}
.footer_Link_Item{
  list-style: none;
  margin: 2.5vw;
  color: var(--clr-NormalWhite);
  font-size: 1.75vw;
}
.footer_Link_Item a{
  text-decoration: none;
  color: var(--clr-NormalWhite);
  text-decoration: none;
}
.footer_Link_Item a:hover{
  transition:all 0.3s ease-in-out;
  color: var(--clr-DarkRed);

}
/***************************************/

@media screen and (max-width: 650px) {
  .Navbar_wrapper{
      display: flex;
   }
   .Navbar{
       display: grid;
       grid-template-columns: 1fr 1fr ;
       width: 100%;
       height: 30vh;
   }
   .Navbar_links{
       margin: 7vh 0vw 2vh 10vw;
   }
   .Navbar_link{
       color: var(--clr-NormalWhite);
       text-decoration: none;
       margin: 4vw;
       font-size: 5vh;
       align-items: center;
       transition: all 0.3s ease;
       color: var(--clr-NormalWhite);
   }
   .Navbar_link:hover{
       color: var(--clr-DarkRed);
       transition: all 0.3s ease-in-out;
   }
   .Navbar img{
       width: 225px;
       height: 225px;
       position:absolute ;
       top: 0;
       right: 0;
   }
   #Navbar_logo{
       padding-bottom:2vh ;
   }
/*********************************************/
/*#region Main*/
/*#endregion Main*/
/*********************************************/
/* #region Footer */

   .footer_wrapper{
      width:100%;
      height: 15%;
  }
  .footer_container{
      display: grid;
      grid-template-rows: 1fr 1fr;
      background-color: var(--clr-NormalBlack);
  }
  /* Font Awsome logos */
  .footer_social_media_logos{
      margin-left: 10svw;
  }
  .fa-brands{
      
      color: var(--clr-NormalWhite);
      font-size: 15.5vw;
      position: relative;
      margin:  12vh 5vw 0vh 5vw;
      cursor: pointer;
      transition:all 0.3s ease-in-out;
      
  }
  .fa-brands:hover{
      transition: all 0.5s ease-in-out;
      transform: scale(1.75);
      color: var(--clr-DarkRed);
  }
  /* JS footer */
  #footer{
      color: var(--clr-NormalWhite);
      position: absolute;
      margin-top: 84vh ;
  }
  /* Link section */
  .social_media_link{
      text-decoration: none;
      color: var(--clr-NormalWhite);
      cursor: pointer;
  }
  .footer_links{
      display: grid;
      grid-template-columns: 1fr;
      margin: 4vh 0 0 4vw;
  }
  .footer_links_item{
      list-style: none;
      margin: 2.5vw;
      color: var(--clr-NormalWhite);
      font-size: 5vw;
  }
  .footer_links_item a{
      text-decoration: none;
      color: var(--clr-NormalWhite);
      text-decoration: none;
  }
  .footer_links_item a:hover{
      transition:all 0.3s ease-in-out;
      color: var(--clr-DarkRed);
  }
  /*#endregion Footer*/
}
